@import '../styles//utils/abstract';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

button {
  border: 0;
  outline: none;
  padding: px2rem(8) px2rem(16);
  border-radius: px2rem(4);
  font-weight: 600;
  font-size: px2rem(14);
  line-height: px2rem(20);
  cursor: pointer;
}

.dark {
  color: $white;
  background-color: $dark;
  transition: all 0.6s;
  &:hover {
    color: $dark;
    background-color: $white;
  }
}
