$primary: #1C344D;
$secondary: #00FFC1;

$primary-gradient-overlay: linear-gradient(to right, #000000, rgba(0,0,0,0));
$secondary-gradient-overlay:linear-gradient(to bottom right, #1C344D, #00FFC1);

//Theme's color palette
$dark: $primary;
$grey: #F7F7F7;
$white: #ffffff;