@import '../../../styles//utils/abstract';
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: px2rem(5) 5%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}
