@import '../../../styles//utils/abstract';

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  overflow: scroll;
  max-width: 80%;
  max-height: 80%;

  @include media(md) {
    overflow: hidden;
    max-width: none;
    max-height: none;
  }
}
